



<div class="container">

  <form #regForm="ngForm" (ngSubmit)="regForm.form.valid && onSubmit(regForm.value)">

      <label for="username">Username: </label>
      <input type="text" id="username"  class="form-control" [(ngModel)]="userData.username" name="username"
          #username="ngModel" required minlength="4" maxlength="20" pattern="[a-zA-Z ]*">
      <!-- error messages -->
      <span class="errormsg" *ngIf="(username.touched||regForm.submitted) && username.errors?.['required']">
          name is required
      </span>
      <span class="errormsg" *ngIf="(username.touched||regForm.submitted) && username.errors?.['minlength']">
          minlength is 4
      </span>
      <span class="errormsg" *ngIf="(username.touched||regForm.submitted) && username.errors?.['maxlength']">
          maxlength is 20
      </span>
      <span class="errormsg" *ngIf="(username.touched||regForm.submitted) && username.errors?.['pattern']">
          numbers are not allowed
      </span><br>
      <!-- error messages ends -->


      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="userData.password" name="password"
          #password="ngModel" required minlength="6" maxlength="15"
          pattern="^(?=.[a-zA-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]$">

      <!-- error messages -->
      <span class="errormsg" *ngIf="(password.touched||regForm.submitted) && password.errors?.['required']">
          password is required
      </span>
      <span class="errormsg" *ngIf="(password.touched||regForm.submitted) && password.errors?.['minlength']">
          password min length is 6
      </span>
      <span class="errormsg" *ngIf="(password.touched||regForm.submitted) && password.errors?.['maxlength']">
          password maxlength is 12
      </span>
      <span class="errormsg" *ngIf="(password.touched||regForm.submitted) && password.errors?.['pattern']">
          enter a valid password
      </span>
      <!-- error messages -->


      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="userData.email" name="email" #email="ngModel"
          required email>
      <!-- error messages -->
      <span class="errormsg" *ngIf="(email.touched||regForm.submitted) && email.errors?.['required']">
          email is required
      </span>
      <span class="errormsg" *ngIf="(email.touched||regForm.submitted) && email.errors?.['email']">
          enter a valid email address
      </span>
      <!-- error messages -->


      <label for="address">Address:</label>
      <input type="text" id="address" class="form-control" [(ngModel)]="userData.address" name="address"
          #address="ngModel" required>
      <!-- error messages -->
      <span class="errormsg" *ngIf="(address.touched||address.invalid) && address.errors?.['required']">
          address is required
      </span>
       <!-- error messages -->

      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" class="form-control" [(ngModel)]="userData.dob" name="dob" #dob="ngModel" required>
      <!-- error messages -->
      <span class="errormsg" *ngIf="(dob.touched||regForm.submitted) && dob.errors?.['required']">
          dob is required
      </span>
       <!-- error messages -->



     




      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" class="form-control" [(ngModel)]="userData.phone" name="phone" #phone="ngModel"
          required minlength="10" maxlength="12" pattern="[0-9]+">

      <!-- error messages -->
      <div class="errormsg" *ngIf="(phone.touched||regForm.submitted) && phone.errors?.['required']">
          phone number is required
      </div>
      <div class="errormsg" *ngIf="(phone.touched||regForm.submitted) && phone.errors?.['minlength']">
          phone min length is 10
      </div>
      <div class="errormsg" *ngIf="(phone.touched||regForm.submitted) && phone.errors?.['maxlength']">
          phone maxlength is 12
      </div>
      <div class="errormsg" *ngIf="(phone.touched||regForm.submitted) && phone.errors?.['pattern']">
          enter a valid phone number(0-9)
      </div>
      <!-- error messages -->

      <button type="submit">Save</button>
  </form>
</div>
